body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #FFF8E1;
}

.header {
    background-color: #006837;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-content{
    display: flex;
    flex: 1;

}

.header img{
    height: 50px;
    margin-right: 15px;
}

.header h1 {
    font-size: 24px;
    font-weight: bold;
}
.header h1 {
    margin: 0;
}

.logout-btn {
    background-color: #1B5E20;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.sidebar {
    width: 350px;
    background-color: #1B5E20;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.sidebar button {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #2E7D32;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;

}

.main {
    margin-left: 50px;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;

}


table th, table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.delete-btn {
    color: red;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 5px;
    width: 40%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: black;
}

.btn-agregar {
    background-color: #2E7D32; 
    color: white;
    padding: 12px 24px;
    margin: 20px auto;          
    display: block;             
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
    
}

.btn-agregar:hover {
    background-color: #45a049;
}

h2 {
    color: #1b5e20;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6); /* Sombra para mejor visibilidad */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    padding: 10px;
}

.countZone{
        color: #1b5e20;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6); /* Sombra para mejor visibilidad */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
}